h1{
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 100;
font-size: 150px;
color: rgb(175, 0, 0);
}
h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: rgba(5, 126, 1, 0.61);
    }
.logobox{
    width: auto;
    height: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
}
.img-fluid{
    width: 600px;
}